Invoice/Invoice.json
{
  "name": "Invoice",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Y4AJm0GEfV_PQ375kGiv91Vl2Z5SPL4X",
          "mode": "list",
          "cachedResultName": "Invoice",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Y4AJm0GEfV_PQ375kGiv91Vl2Z5SPL4X"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        -128
      ],
      "id": "0565492e-387c-4188-9f7f-4a3a69adf214",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ylgiaDPpPAes8E6q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -288,
        -112
      ],
      "id": "e60c2d23-d50b-4335-a53b-cc5daced7821",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ylgiaDPpPAes8E6q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -128,
        -96
      ],
      "id": "758160df-3e5d-41db-89f7-41c1a7bcc0ee",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Company name",
              "description": "This is the name of the Company",
              "required": true
            },
            {
              "name": "Customer Name",
              "description": "This is the name of the Customer",
              "required": true
            },
            {
              "name": "Email ",
              "description": "This is the Email id of the customer"
            },
            {
              "name": "Address",
              "description": "This is the address of the customer",
              "required": true
            },
            {
              "name": "Invoice No",
              "description": "This is the invoice number",
              "required": true
            },
            {
              "name": "Date",
              "type": "date",
              "description": "This is the data of the invoice",
              "required": true
            },
            {
              "name": "Line item",
              "description": "This is the line item of the invoice",
              "required": true
            },
            {
              "name": "Total Amount",
              "type": "number",
              "description": "This is the total amount of the Invoice",
              "required": true
            },
            {
              "name": "Payment Method",
              "description": "This is the method of the Payment done"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        80,
        -96
      ],
      "id": "818ef472-ea16-44de-9549-7583e4a52878",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        16,
        112
      ],
      "id": "e81200c9-49b9-4ada-80f3-860a4044fda3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "oelsDl93YY2d1btY",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1h1PDolfCGdoCJmAGLzdqU9_c9WozBgHGFeWc6EEMQWo",
          "mode": "list",
          "cachedResultName": "sample",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h1PDolfCGdoCJmAGLzdqU9_c9WozBgHGFeWc6EEMQWo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 995061826,
          "mode": "list",
          "cachedResultName": "Invoice",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h1PDolfCGdoCJmAGLzdqU9_c9WozBgHGFeWc6EEMQWo/edit#gid=995061826"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $json.output['Company name'] }}",
            "Customer Name": "={{ $json.output['Customer Name'] }}",
            "Address": "={{ $json.output.Address }}",
            "Invoice No": "={{ $json.output['Invoice No'] }}",
            "Invoice date": "={{ $json.output.Date }}",
            "Line Item": "={{ $json.output['Line item'] }}",
            "Total Amount": "={{ $json.output['Total Amount'] }}",
            "Payment Method": "={{ $json.output['Payment Method'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Invoice No",
              "displayName": "Invoice No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice date",
              "displayName": "Invoice date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Line Item",
              "displayName": "Line Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment Method",
              "displayName": "Payment Method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        -96
      ],
      "id": "b4867233-f80d-47c2-a91f-ffd66a535b34",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TFcIwkBRcxxN0lce",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=\n## Overview\nYou are an email assistant for my Company ABC Online Store Pvt.Ltd.You will receive invoice information.Your task is to notify the internal billing team that the invoice has been received.\n\n##Gmail- This tool is used to send an email to the internal billing team.\nIn an email make sute to include that the information has  been added to the google sheets database which they can view here:\nhttps://docs.google.com/spreadsheets/d/1h1PDolfCGdoCJmAGLzdqU9_c9WozBgHGFeWc6EEMQWo/edit?gid=995061826#gid=995061826\n\n## Output\nOutput should be in the following JSON format\n{\"SubjectLine\":\"subjectLineHere\",\"EmailBody\":\"emailBodyHere\"}\n ##Rules\nDont include any Markdown Formatting\nMake sure the email is in HTML format"
            },
            {
              "content": "=Invoice No:{{ $json['Invoice No'] }}\n\nCustomer Name:{{ $json['Customer Name'] }}\n\nDate :{{ $json['Invoice date'] }}\n\nTotal Amount :{{ $json['Total Amount'] }}\n\nPayment Method :{{ $json['Payment Method'] }}"
            }
          ]
        },
        "simplify": "={{ true }}",
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        608,
        -96
      ],
      "id": "20bfb533-fa66-4f53-b7e9-7988bc441843",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "oelsDl93YY2d1btY",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sadheeshkumar.n@gmail.com",
        "subject": "={{ $json.output[0].content[0].text.SubjectLine }}",
        "message": "={{ $json.output[0].content[0].text.EmailBody }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        960,
        -96
      ],
      "id": "57302044-09bf-4232-90c9-5fd46824ae95",
      "name": "Send a message",
      "webhookId": "41dd429d-429a-4b89-8ba2-574e6c1d8c4e",
      "credentials": {
        "gmailOAuth2": {
          "id": "DzL3VC8bsiIP4mk3",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2ee5c7cc-5238-4f7f-8832-2415dc05242b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a88e30edd42c90ebd3b65553e335e1a1be052c62de406ecc67cab48d028658fc"
  },
  "id": "UaW634loYCdYGZqO",
  "tags": []
}