Lead Qualification Automation/Lead Automation Workflow .json
{
  "name": "Lead Automation Workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Contact Us",
        "formDescription": "Please fill out the form and we will get back to you soon!.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Your Name here!",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "You email here!",
              "requiredField": true
            },
            {
              "fieldLabel": "Company Name",
              "placeholder": "Name of the Company",
              "requiredField": true
            },
            {
              "fieldLabel": "Webseit",
              "placeholder": "Your webseit  address here!"
            },
            {
              "fieldLabel": "Job Title",
              "placeholder": "You Job tile here!"
            },
            {
              "fieldLabel": "Interest Area",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Sales"
                  },
                  {
                    "option": "Support"
                  },
                  {
                    "option": "Partnership"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -2832,
        472
      ],
      "id": "0a79d2dc-a791-4670-a8ca-1f8f5f8a105e",
      "name": "On form submission",
      "webhookId": "912c7d3e-f500-4dc4-9b89-29cddfbc10fc"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "8e29a700-75b5-4c48-ba1c-09638209869c",
              "leftValue": "={{ $json.Email.isEmail() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "cf23809a-0e39-44d4-b63b-cc0e03f71432",
              "leftValue": "={{ $json.Email.length }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "2aae21f1-e0a1-49ad-a8c0-19cb711baf72",
              "leftValue": "={{ $json.Email.extractDomain() }}",
              "rightValue": "={{ [\"fakemail.com\",\"tempmail.com\",\"rumail.com\"] }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2608,
        472
      ],
      "id": "7e66b560-d65a-4b5a-abb6-41bf5d8f5102",
      "name": "Basic Email Validation"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12lNA3yuX8-Xd8Fhz1CclunWDnJ27XjD2_5DXqVdCu58",
          "mode": "list",
          "cachedResultName": "Lead Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12lNA3yuX8-Xd8Fhz1CclunWDnJ27XjD2_5DXqVdCu58/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "All  lead Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12lNA3yuX8-Xd8Fhz1CclunWDnJ27XjD2_5DXqVdCu58/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('On form submission').item.json.Name }}",
            "Email": "={{ $('On form submission').item.json.Email }}",
            "Company Name": "={{ $('On form submission').item.json['Company Name'] }}",
            "Status": "Discarded",
            "Reason": "Basic Email Validation failed",
            "Timestamp": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Value",
              "displayName": "Lead Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2384,
        520
      ],
      "id": "dfc6795f-1774-448b-9699-d0d97a6cba97",
      "name": "Log Discarded -Basic Email validation failed",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "opXg82ZBab7Zjm4Z",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "emailVerifier",
        "email": "={{ $json.Email }}"
      },
      "type": "n8n-nodes-base.hunter",
      "typeVersion": 1,
      "position": [
        -2384,
        328
      ],
      "id": "b0bfac17-8a8f-4601-bb02-f270e0492a5a",
      "name": "Verify  Email with Hunter",
      "credentials": {
        "hunterApi": {
          "id": "zKfob6m1Py9qlwfl",
          "name": "Hunter account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "26b2cdee-2283-48ea-b676-178aad647dcd",
              "leftValue": "={{ $json.status }}",
              "rightValue": "valid",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "b8d6b535-a94d-4b28-a201-e68bbe79102c",
              "leftValue": "={{ $json.score }}",
              "rightValue": 20,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2160,
        328
      ],
      "id": "6c90ec92-2937-45ef-b469-72adbdc0e7b1",
      "name": "3rd party Email validation"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12lNA3yuX8-Xd8Fhz1CclunWDnJ27XjD2_5DXqVdCu58",
          "mode": "list",
          "cachedResultName": "Lead Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12lNA3yuX8-Xd8Fhz1CclunWDnJ27XjD2_5DXqVdCu58/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "All  lead Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12lNA3yuX8-Xd8Fhz1CclunWDnJ27XjD2_5DXqVdCu58/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('On form submission').item.json.Name }}",
            "Email": "={{ $('On form submission').item.json.Email }}",
            "Company Name": "={{ $('On form submission').item.json['Company Name'] }}",
            "Status": "Discarded",
            "Reason": "=3rd Party Email Validation failed because of invalid status and low deliverability score",
            "Timestamp": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Value",
              "displayName": "Lead Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1936,
        400
      ],
      "id": "15af80e5-047d-4f1d-ae6c-7c3dce6638a9",
      "name": "Log Discarded -3rd party Email validation failed",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "opXg82ZBab7Zjm4Z",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.hunter.io/v2/combined/find",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "=\n\n{{ $json[\"email\"]}}"
            },
            {
              "name": "api_key",
              "value": "43100182343f0f4aa1e49f43a6bb25893436e8a3"
            }
          ]
        },
        "options": {
          "queryParameterArrays": "brackets"
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1936,
        112
      ],
      "id": "ef32e550-e50d-440b-8808-1096cb2124b6",
      "name": "Enrich Lead Information",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "data.person.email",
              "field2": "email"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1712,
        256
      ],
      "id": "befbd793-7e0c-4faf-8872-9571bb0f67c1",
      "name": "Combine(3rd party + enrich lead information)"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app6IdgBLfrqQmeLK",
          "mode": "list",
          "cachedResultName": "Lead Automation",
          "cachedResultUrl": "https://airtable.com/app6IdgBLfrqQmeLK"
        },
        "table": {
          "__rl": true,
          "value": "tbl1vTGigy1qQ4dPJ",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://airtable.com/app6IdgBLfrqQmeLK/tbl1vTGigy1qQ4dPJ"
        },
        "filterByFormula": "={Email}='{{ $json.data.person.email }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1488,
        112
      ],
      "id": "cc60691e-5383-44cf-b79b-a7933bfdb538",
      "name": "Search records",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "oqfyWION21Vxu7lI",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "Email",
              "field2": "email"
            }
          ]
        },
        "joinMode": "enrichInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1264,
        256
      ],
      "id": "92bc32be-8a03-48b8-9cd6-5d27921982e7",
      "name": "Enrich Data with CRM "
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "b32146a5-b295-42a0-9413-50c8547b7168"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "New Customer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2aa87165-4e42-44d0-afa5-2831086bdca5",
                    "leftValue": "={{ $json['Total Revenue'] }}",
                    "rightValue": 100000,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "General"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "15a1e490-23f6-41ce-9e2c-9d92536392da",
                    "leftValue": "={{ $json['Total Revenue'] }}",
                    "rightValue": 100000,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VIP"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1040,
        240
      ],
      "id": "2bcc7489-e497-49f8-ba07-be95d0b47943",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c84e7e4d-66a3-4223-a9bf-cd65e026716f",
              "name": "Customer_type_tag",
              "value": "New Customer",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        16
      ],
      "id": "3a924bc5-d554-43c9-a254-576331195bcf",
      "name": "New Customer Tag"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c84e7e4d-66a3-4223-a9bf-cd65e026716f",
              "name": "Customer_type_tag",
              "value": "General Customer",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        208
      ],
      "id": "dbbf6150-4259-467b-aba2-028f9b44633b",
      "name": "General Customer"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c84e7e4d-66a3-4223-a9bf-cd65e026716f",
              "name": "Customer_type_tag",
              "value": "VIP Customer",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        400
      ],
      "id": "7abd94f1-7e23-4321-96dc-d2085f74fe6c",
      "name": "VIP Customer"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c84e7e4d-66a3-4223-a9bf-cd65e026716f",
              "name": "lead_score",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        160
      ],
      "id": "079320b4-61b8-40dc-b3f6-f8a2d04bcae2",
      "name": "Initialize lead score"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "73950815-c444-46d1-bb87-943624b7d5cf",
              "leftValue": "={{ $json.score }}",
              "rightValue": 60,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -368,
        160
      ],
      "id": "679f2499-39f0-461c-98c4-435d7c08319a",
      "name": "Check lead score"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "0c4685db-a6e2-41b9-8ecc-14ccc9f0fc89",
              "leftValue": "={{ [\"US\",\"UK\",\"IN\",\"DE\"] }}",
              "rightValue": "={{ $json.data.company.geo.countryCode }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            },
            {
              "id": "ff8d9dd1-7f4a-4884-b725-1c8c74bf8eb2",
              "leftValue": "=Marketing",
              "rightValue": "={{ $json.data.company.tags }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        80,
        160
      ],
      "id": "65027f96-0aa0-4ffc-b07b-53e1438248f8",
      "name": "Check Country Code",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "feda11e4-0d4f-4903-9339-957b85ddfb1d",
              "leftValue": "={{ $('Switch').item.json.data.company.category.industryGroup }}",
              "rightValue": "Software",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "3b008751-149c-4cc4-a133-0a87203fd7d3",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        528,
        160
      ],
      "id": "6261c3ea-6af7-4491-9c01-99c093839f4c",
      "name": "Check Industry"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bebddda9-65f9-403b-a655-5d46c40c3aa2",
              "name": "lead_score",
              "value": "={{ $json.lead_score + 1}}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        160
      ],
      "id": "e7db559d-e5cc-4bf3-89cb-d058d9c5b282",
      "name": "Increment Lead score 2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0db3ea18-43bb-4d59-852f-e8b3c3858742",
              "name": "lead_score",
              "value": "={{ $json.lead_score +1 }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        160
      ],
      "id": "925d7d7e-5874-46ef-aa33-42ddfe8b7ab0",
      "name": "Increment lead score 3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "376149b9-bd98-438c-8ec7-abfc2775482a",
              "name": "lead_score",
              "value": "={{ $json.lead_score +1 }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        160
      ],
      "id": "c0dd07b0-7ebe-4de8-82dc-664da825a298",
      "name": "Increment Lead Score1"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.lead_type = \"Medium-Value\";\n  if (item.json.lead_score==3) \n    item.json.lead_type = \"High-Value\";\n    if(item.json.lead_score<1)\n    \n       item.json.lead_type = \"Low-Value\";\n    \n    \n  \n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        160
      ],
      "id": "51846deb-afd7-4c78-938c-8f8677a8a594",
      "name": "Lead Score Calculation"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.lead_type }}",
                    "rightValue": "Low-Value",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f4c846ce-7c28-4c92-95ce-7aea859f1a37"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Low-Value"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "87c0a6dd-00d0-4c0a-8cb9-cf1156810568",
                    "leftValue": "={{ $json.lead_type }}",
                    "rightValue": "Medium-Value",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Medium-Value"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "894598f6-3fe0-4dc7-9e5d-6a022234c4f5",
                    "leftValue": "={{ $json.lead_type }}",
                    "rightValue": "High-Value",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "High-Value"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1200,
        128
      ],
      "id": "494909aa-7019-4a9a-9501-1a21c00e8e3b",
      "name": "Switch1"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U0AM1KJP0BC",
          "mode": "list",
          "cachedResultName": "pavithrasadheeshkumar"
        },
        "text": "=Hey new High Value lead is arrived.Please check out the details in PDF uploaded in the google drive.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1872,
        576
      ],
      "id": "64201878-96f9-4f65-a318-871ef046a3af",
      "name": "Alert Account Executive",
      "webhookId": "dddfb292-cf69-4f49-b77b-90085196b89c",
      "credentials": {
        "slackOAuth2Api": {
          "id": "MtxAU9MwR0VEzbNT",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "pavithrasadheeshkumar@gmail.com",
          "mode": "list",
          "cachedResultName": "pavithrasadheeshkumar@gmail.com"
        },
        "start": "={{ $now.plus(5, 'days').plus(1,hour) }}",
        "end": "={{ $now.plus(5, 'days').plus(2, 'hour') }}",
        "useDefaultReminders": "={{ true }}",
        "additionalFields": {
          "attendees": [],
          "description": "To discuss about the Product",
          "summary": "To discuss about the Product"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2096,
        568
      ],
      "id": "504f0228-6169-45ec-8626-3e500450945d",
      "name": "Set up Customer meeting",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pqNmaJefwxvfnKNu",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Switch1').item.json.email }}",
        "subject": "Welcome Email",
        "message": "=Hello {{ $('On form submission').item.json.Name.split(' ').first()}},\n\nThankyou for filling out the form.We appreciate your interest in GH Group.\n\nTo better understand your needs and discuss how we can support you, we have sent you a calendar invitation for a meeting.\n\nPlease check your email for the calendar event and confirm your availability. During the meeting, our team will walk you through our solutions and answer any questions you may have.\n\nIf the scheduled time does not work for you, feel free to reply to this email and we will be happy to arrange a more convenient time.\n\nBest Regards,\nPavithra.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2320,
        568
      ],
      "id": "8b320322-7ae7-4e81-9cc2-317afb68b90d",
      "name": "Welcome Email",
      "webhookId": "16c0dc99-e462-4c4e-92b7-08ccc97f3259",
      "credentials": {
        "gmailOAuth2": {
          "id": "9voYUMETLZKFUCD0",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2544,
        568
      ],
      "id": "a3c595e9-00e5-41b7-bcd1-846ffc4ed577",
      "name": "Wait",
      "webhookId": "727a60c1-c52d-430d-8b79-07e058aaf3e3"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Switch1').item.json.email }}",
        "subject": "Follow up Email",
        "message": "=Hello {{ $('On form submission').item.json.Name.split(' ').first()}},\n\nI just wanted to quickly check in regarding the meeting invitation we sent a few days ago.\n\nWe scheduled a time to discuss your requirements and explore how we might be able to help. If the proposed time works for you, please feel free to accept the calendar invitation.\n\nIf your schedule is tight at the moment, no problem at all—just let me know a time that works better for you and we can adjust the meeting.\n\nLooking forward to hearing from you.\n\n\nBest Regards,\nPavithra.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2768,
        568
      ],
      "id": "3f4e46ba-4e7a-49d5-b635-a2daabbf70f6",
      "name": "Follow UP Email",
      "webhookId": "16c0dc99-e462-4c4e-92b7-08ccc97f3259",
      "credentials": {
        "gmailOAuth2": {
          "id": "9voYUMETLZKFUCD0",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12lNA3yuX8-Xd8Fhz1CclunWDnJ27XjD2_5DXqVdCu58",
          "mode": "list",
          "cachedResultName": "Lead Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12lNA3yuX8-Xd8Fhz1CclunWDnJ27XjD2_5DXqVdCu58/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 691882041,
          "mode": "list",
          "cachedResultName": "Nurture Lists",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12lNA3yuX8-Xd8Fhz1CclunWDnJ27XjD2_5DXqVdCu58/edit#gid=691882041"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.email }}",
            "Name": "={{ $json.data.person.name.fullName }}",
            "Company": "={{ $json.data.company.name }}",
            "Lead Value": "={{ $json.lead_type }}",
            "Reason for Nurture": "Need more Research and details"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Value",
              "displayName": "Lead Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason for Nurture",
              "displayName": "Reason for Nurture",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1424,
        -32
      ],
      "id": "dc82882d-c83d-4555-922e-fa61fa4ca24b",
      "name": "Add to Nurture List",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "opXg82ZBab7Zjm4Z",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12lNA3yuX8-Xd8Fhz1CclunWDnJ27XjD2_5DXqVdCu58",
          "mode": "list",
          "cachedResultName": "Lead Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12lNA3yuX8-Xd8Fhz1CclunWDnJ27XjD2_5DXqVdCu58/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "All  lead Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12lNA3yuX8-Xd8Fhz1CclunWDnJ27XjD2_5DXqVdCu58/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Company Name": "={{ $json.Company }}",
            "Lead Value": "={{ $json['Lead Value'] }}",
            "Reason": "={{ $json['Reason for Nurture'] }}",
            "Status": "To be Nurturned",
            "Timestamp": "={{ $now.format('ff') }}",
            "Name": "={{ $('Switch1').item.json.data.person.name.fullName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Value",
              "displayName": "Lead Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1648,
        -32
      ],
      "id": "953177b8-b928-489b-99b3-8027e495e70f",
      "name": "Make an entry in all log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "opXg82ZBab7Zjm4Z",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12lNA3yuX8-Xd8Fhz1CclunWDnJ27XjD2_5DXqVdCu58",
          "mode": "list",
          "cachedResultName": "Lead Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12lNA3yuX8-Xd8Fhz1CclunWDnJ27XjD2_5DXqVdCu58/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "All  lead Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12lNA3yuX8-Xd8Fhz1CclunWDnJ27XjD2_5DXqVdCu58/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Company Name": "={{ $json.Company }}",
            "Lead Value": "={{ $json['Lead Value'] }}",
            "Reason": "={{ $json['Reason for Nurture'] }}",
            "Status": "Approved",
            "Timestamp": "={{ $now.format('ff') }}",
            "Name": "={{ $('Switch1').item.json.data.person.name.fullName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Value",
              "displayName": "Lead Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2992,
        568
      ],
      "id": "16799804-f6e4-4469-8c71-92771ab04390",
      "name": "Make an entry in all log1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "opXg82ZBab7Zjm4Z",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1k2uFgG_JsdsECJ6vDqEzU1oqAT3P8JUk8nReBvzr_mg",
          "mode": "list",
          "cachedResultName": "[Company_Name]-[Full_Name]-[Lead_Type]",
          "cachedResultUrl": "https://docs.google.com/document/d/1k2uFgG_JsdsECJ6vDqEzU1oqAT3P8JUk8nReBvzr_mg/edit?usp=drivesdk"
        },
        "name": "={{ $json.data.company.name }}-{{ $('On form submission').item.json.Name }}-{{ $json.lead_type }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1456,
        160
      ],
      "id": "ed2d63af-be81-42bf-a75c-007f35e7eea8",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hgRWWPsMFcXkZofI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "[company_name]",
              "replaceText": "={{ $('Switch1').item.json.data.company.name }}"
            },
            {
              "action": "replaceAll",
              "text": "[full_name]",
              "replaceText": "={{ $('On form submission').item.json.Name }}"
            },
            {
              "action": "replaceAll",
              "text": "[email]",
              "replaceText": "={{ $('Switch1').item.json.email }}"
            },
            {
              "action": "replaceAll",
              "text": "[job_title]",
              "replaceText": "={{ $('On form submission').item.json['Job Title'] }}"
            },
            {
              "action": "replaceAll",
              "text": "[customer_type]",
              "replaceText": "={{ $('Switch1').item.json.lead_type }}"
            },
            {
              "action": "replaceAll",
              "text": "[company_website]",
              "replaceText": "={{ $('On form submission').item.json.Webseit }}"
            },
            {
              "action": "replaceAll",
              "text": "[company_domain]",
              "replaceText": "={{ $('Switch1').item.json.data.company.domain }}"
            },
            {
              "action": "replaceAll",
              "text": "[company_industry]",
              "replaceText": "={{ $('Switch1').item.json.data.company.category.industry }}"
            },
            {
              "action": "replaceAll",
              "text": "[company_sub_industry]",
              "replaceText": "={{ $('Switch1').item.json.data.company.category.subIndustry }}"
            },
            {
              "action": "replaceAll",
              "text": "[company_region]",
              "replaceText": "={{ $('Switch1').item.json.data.company.geo.state }}"
            },
            {
              "action": "replaceAll",
              "text": "[employee_count]",
              "replaceText": "={{ $('Increment lead score 3').item.json.data.company.metrics.employees }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "[vip_tag] (VIP / Existing / New)",
              "replaceText": "={{ $('Check Industry').item.json.Customer_type_tag }}"
            },
            {
              "action": "replaceAll",
              "text": "[country]",
              "replaceText": "={{ $('Switch1').item.json.data.company.geo.country }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1648,
        160
      ],
      "id": "55d64134-3cb6-4d7a-bf29-ace2b53e2136",
      "name": "Update the dynamic data",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ptdf0sxEk27fox1F",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data",
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1872,
        160
      ],
      "id": "d92a782a-20e1-46c9-b73b-42363ea2efcd",
      "name": "Download as PDF",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hgRWWPsMFcXkZofI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Copy file').item.json.name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1-6KE-M4fsQ-2jCIW1rQLbYw8Dw5vAHVJ",
          "mode": "list",
          "cachedResultName": "Lead Automation CRM",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1-6KE-M4fsQ-2jCIW1rQLbYw8Dw5vAHVJ"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2096,
        160
      ],
      "id": "f90c9156-0fd0-447a-86c9-71fc68247f47",
      "name": "Upload PDF",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hgRWWPsMFcXkZofI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Update the dynamic data').item.json.documentId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2320,
        160
      ],
      "id": "4fafb21d-c39e-4d9e-98c5-22ffe2c9e8e0",
      "name": "Delete a file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hgRWWPsMFcXkZofI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U0AM1KJP0BC",
          "mode": "list",
          "cachedResultName": "pavithrasadheeshkumar"
        },
        "text": "=Hey a new lead arrived.Updated a qualified lead brief document and it is available as a PDF in google drive.Please review it.\n\n\nLink for the Google drive:\n\nhttps://drive.google.com/drive/u/1/folders/1-6KE-M4fsQ-2jCIW1rQLbYw8Dw5vAHVJ\n\nNew Lead doc name: {{ $('Copy file').item.json.name }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        2544,
        160
      ],
      "id": "d34be42f-3e09-4177-9d44-eb65dff757b9",
      "name": "Notify Content Coordinator",
      "webhookId": "1b6b345a-bb0e-40b9-a99d-38af37ffda08",
      "credentials": {
        "slackOAuth2Api": {
          "id": "MtxAU9MwR0VEzbNT",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "pavinp5@gmail.com",
        "subject": "Request for Approval",
        "message": "=Hello Pavithra,\n\nNeed your approval for medium value Lead.I have created a qualified lead brief template .Please review it and approve/Deny it accordingly.\n\nLink for PDF:https://drive.google.com/drive/u/1/folders/1-6KE-M4fsQ-2jCIW1rQLbYw8Dw5vAHVJ\n\nNew Lead doc name: ",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1408,
        384
      ],
      "id": "8f5d12e1-e0b6-43d3-bb60-b57fc7a976d6",
      "name": "Send message and wait for response",
      "webhookId": "ab5bda08-e514-4459-9a95-60cb59176e6e",
      "credentials": {
        "gmailOAuth2": {
          "id": "9voYUMETLZKFUCD0",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "51233df8-8bde-4d99-a75e-55e45e4b9456",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1648,
        400
      ],
      "id": "dd79abd8-54ea-45b3-be0d-458a2da42a87",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12lNA3yuX8-Xd8Fhz1CclunWDnJ27XjD2_5DXqVdCu58",
          "mode": "list",
          "cachedResultName": "Lead Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12lNA3yuX8-Xd8Fhz1CclunWDnJ27XjD2_5DXqVdCu58/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "All  lead Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12lNA3yuX8-Xd8Fhz1CclunWDnJ27XjD2_5DXqVdCu58/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Company Name": "={{ $json.Company }}",
            "Lead Value": "={{ $json['Lead Value'] }}",
            "Reason": "=SAles Manager did not approve the lead for further processing",
            "Status": "Disapproved",
            "Timestamp": "={{ $now.format('ff') }}",
            "Name": "={{ $('Switch1').item.json.data.person.name.fullName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Value",
              "displayName": "Lead Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1872,
        352
      ],
      "id": "91e1c07d-a953-4cde-bc31-7117cfde8f79",
      "name": "Make an entry in all log2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "opXg82ZBab7Zjm4Z",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Name": "Dharmesh",
          "Email": "dharmesh@hubspot.com",
          "Company Name": "Hubspot",
          "Webseit": "www.hubspot.com",
          "Job Title": "",
          "Interest Area": "Sales",
          "submittedAt": "2026-03-30T14:28:38.466+02:00",
          "formMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Basic Email Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic Email Validation": {
      "main": [
        [
          {
            "node": "Verify  Email with Hunter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Discarded -Basic Email validation failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify  Email with Hunter": {
      "main": [
        [
          {
            "node": "3rd party Email validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3rd party Email validation": {
      "main": [
        [
          {
            "node": "Enrich Lead Information",
            "type": "main",
            "index": 0
          },
          {
            "node": "Combine(3rd party + enrich lead information)",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Log Discarded -3rd party Email validation failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Lead Information": {
      "main": [
        [
          {
            "node": "Combine(3rd party + enrich lead information)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine(3rd party + enrich lead information)": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enrich Data with CRM ",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Enrich Data with CRM ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Data with CRM ": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "New Customer Tag",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "General Customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "VIP Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Customer Tag": {
      "main": [
        [
          {
            "node": "Initialize lead score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "General Customer": {
      "main": [
        [
          {
            "node": "Initialize lead score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VIP Customer": {
      "main": [
        [
          {
            "node": "Initialize lead score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize lead score": {
      "main": [
        [
          {
            "node": "Check lead score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check lead score": {
      "main": [
        [
          {
            "node": "Increment Lead Score1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Country Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Country Code": {
      "main": [
        [
          {
            "node": "Increment Lead score 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Industry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Industry": {
      "main": [
        [
          {
            "node": "Increment lead score 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lead Score Calculation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Lead score 2": {
      "main": [
        [
          {
            "node": "Check Industry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Lead Score1": {
      "main": [
        [
          {
            "node": "Check Country Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment lead score 3": {
      "main": [
        [
          {
            "node": "Lead Score Calculation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Score Calculation": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Add to Nurture List",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert Account Executive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Account Executive": {
      "main": [
        [
          {
            "node": "Set up Customer meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set up Customer meeting": {
      "main": [
        [
          {
            "node": "Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Welcome Email": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Follow UP Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Nurture List": {
      "main": [
        [
          {
            "node": "Make an entry in all log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow UP Email": {
      "main": [
        [
          {
            "node": "Make an entry in all log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Update the dynamic data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update the dynamic data": {
      "main": [
        [
          {
            "node": "Download as PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download as PDF": {
      "main": [
        [
          {
            "node": "Upload PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload PDF": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file": {
      "main": [
        [
          {
            "node": "Notify Content Coordinator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Alert Account Executive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Make an entry in all log2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "7YpftICvZC5YHSFM",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "a70fe3ce-64d7-4943-990a-774be0575770",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1a0772e6290ec90909dc4521bfacde6b81688363f2edd371ddc6095fce4174ea"
  },
  "id": "ECeuOiA1aprXnwMt",
  "tags": []
}
